
<!DOCTYPE HTML>
<html>
<head>
<title>忘记密码</title>
<link href="public/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="public/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
 -->
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="public/js/jquery.min.js"></script>
</head>
<body>
    <!-- start header_bottom -->
    <div class="header-bottom">
		 <div class="container">
			<div class="header-bottom_left">
				<i class="phone"> </i><span>1-200-346-2986</span>
			</div>
			<div class="social">	
			   <ul>	
				  <li class="facebook"><a href="#"><span> </span></a></li>
				  <li class="twitter"><a href="#"><span> </span></a></li>
				  <li class="pinterest"><a href="#"><span> </span></a></li>	
				  <li class="google"><a href="#"><span> </span></a></li>
				  <li class="tumblr"><a href="#"><span> </span></a></li>
				  <li class="instagram"><a href="#"><span> </span></a></li>	
				  <li class="rss"><a href="#"><span> </span></a></li>							
			   </ul>
		   </div>
		   <div class="clear"></div>
		</div>
    </div>
    <!-- start menu -->
    <div class="menu">
	  <div class="container">
		 <div class="logo">
			<a href="index.html"><img src="public/images/logo.png" alt=""/></a>
		 </div>
		 <div class="h_menu4"><!-- start h_menu4 -->
		   <a class="toggleMenu" href="#">Menu</a>
			 <ul class="nav">
			   <li><a href="index.html">首页</a></li>
			 <!--   <li><a href="about.html">关于</a></li>
			   <li><a href="classes.html">特色</a></li> -->
			   <li><a href="blog.html">博客</a></li>
			   <li><a href="contact.html">联系我</a></li>
			   <li><a href="login.html">登录/注册</a></li>
			 </ul>
			  <script type="text/javascript" src="public/js/nav.js"></script>
		  </div><!-- end h_menu4 -->
		 <div class="clear"></div>
	  </div>
	</div>
	<!-- end menu -->
        <div class="main">
          <div class="register-grids">
          	<div class="container">
					<form> 
						<div class="register-top-grid">
								<h3>邮箱验证</h3>
								<div>
									<span>用户名<label>*</label></span>
									<input type="text"> 
								</div>
								<div>
									<span>邮箱地址<label>*</label></span>
									<input type="text"> 
								</div>
								<div>
									<span>邮箱验证码<label>*</label></span>
									<input type="text"> 
								</div>

								<div style="height:66.72px;width:525.3px;background:;">
								
									<input type="submit" value="发送" style="border-radius:4px;  background:#72D0f4;margin-top:5%;">
								</div>
								
								<div class="clear"> </div>
	
						</div>
						</form>
						<form> 
								<div class="clear"> </div>
								<div class="register-bottom-grid">
										<h3>登录信息</h3>
										<div>
											<span>新密码<label>*</label></span>
											<input type="text">
										</div>
							
										<div>
											<span>确认密码<label>*</label></span>
											<input type="text">
										</div>
										<div>
											<span>验证码<label>*</label></span>
											<input type="text">
										</div>
										<div style="height:66.72px;width:525.3px;background:;">
											
											<img src="public/images/yzm.jpg" style="margin-top:5%;">
								
										</div>
										<div class="clear"> </div>
								</div>
								<div class="clear"> </div>
								<input type="submit" value="提交">
					</form>
					</div>
				</div>
         </div>
		 <div class="footer-bottom">
		   <div class="container">
		 	 <div class="row section group">
				<div class="col-md-4">
				<img src="public/images/logocai.png" height="171" width="324"/>
				</div>
				<div class="col-md-4">
					<div class="f-logo">
						<img src="public/images/logo.png" alt=""/>
					</div>
	
					<p class="m_9">松下问童子，言师采药去。云深不知处。</p>
					<p class="m_9">松下问童子，言师采药去。只在此山中。</p>
					

					<p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(00) 222 666 444</span></p>
					<p class="address">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">caijiabin18@qq.com</span></p>
				</div>
				<div class="col-md-4">
					<ul class="list">
						<h4 class="m_7">导航</h4>
						<li><a href="#">首页</a></li>
						<li><a href="#">关于</a></li>
						<li><a href="#">特色</a></li>
						<li><a href="#">博客</a></li>
						<li><a href="#">联系我</a></li>
					</ul>
					<ul class="list1">
						<h4 class="m_7">友情链接</h4>
						<li><a href="#">xx博客</a></li>
						<li><a href="#">MYBBS</a></li>
						<li><a href="#">phpxy</a></li>
						<li><a href="#">百度</a></li>
					</ul>
				</div>
				<div class="clear"></div>
	  		  </div>
		 	</div>
		 </div>
		 
		 <div class="copyright">
		  <div class="container">
		    <div class="copy">
		        <p>(c) 2014 Template</p>
		    </div>
		    <div class="social">	
			   <ul>	
				  <li class="facebook"><a href="#"><span> </span></a></li>
				  <li class="twitter"><a href="#"><span> </span></a></li>
				  <li class="pinterest"><a href="#"><span> </span></a></li>	
				  <li class="google"><a href="#"><span> </span></a></li>
				  <li class="tumblr"><a href="#"><span> </span></a></li>
				  <li class="instagram"><a href="#"><span> </span></a></li>	
				  <li class="rss"><a href="#"><span> </span></a></li>							
			   </ul>
		    </div>
		   <div class="clear"></div>
		  </div>
	   </div>
</body>
</html